<!DOCTYPE html>
<html lang="en" ng-app="stacksApp">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <script src="assets/js/jquery.min.js"></script>
	    <!-- ANGULAR.JS IMPORT -->
	    <script src="assets/js/angular.min.js"></script>
	    <!-- Including Angular-Route and -Resource -->
	    <script src="assets/js/angular-route.js"></script>
	    <script src="assets/js/angular-resource.js"></script>
	    <!-- LINKS TO ANGULARJS SUPPORT FILES -->
	    <script src="assets/js/app.js"></script>
	    <script src="assets/js/controllers.js"></script>
	    <script src="assets/js/services.js"></script>
	    <script src="assets/js/directives.js"></script>
	</head>
	<body ng-controller="questionsController">
		<div ng-repeat="question in qa">
	THIS IS MY LINE
			<h1>{{question.question}}</h1>
				1 {{question.a1}} <br />
				2 {{question.a2}} <br />
				3 {{question.a3}} <br />
				4 {{question.a4}} <br />
				<br />
				Answer? <input ng-model="query"> <br />
				answer: {{question.answer === query}}
		</div>
		</ul>
	</body>
</html>
