<!DOCTYPE html>
<html lang="en" ng-app="stacksApp">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <script src="assets/js/jquery.min.js"></script>
	    <!-- ANGULAR.JS IMPORT -->
	    <script src="assets/js/angular.min.js"></script>
	    <!-- Including Angular-Route and -Resource -->
	    <script src="assets/js/angular-route.js"></script>
	    <script src="assets/js/angular-resource.js"></script>
	    <!-- LINKS TO ANGULARJS SUPPORT FILES -->
	    <script src="assets/js/app.js"></script>
	    <script src="assets/js/controllers.js"></script>
	    <script src="assets/js/services.js"></script>
	    <script src="assets/js/directives.js"></script>
	</head>
	<body>
	<div ng-controller="questionsController">
		<div ng-controller="progressController as m" >
		<div class="questions">
		<h1>{{qa[query].question}}</h1>
				answer: {{ result = (guess === qa[query].answer)}} <br />
				1 <span ng-click="guess = 1; m.update(qa[query].name + ', ' + result)">{{qa[query].a1}}</span><br />
				2 <span ng-click="guess = 2; m.update(qa[query].name + ', ' + result)">{{qa[query].a2}}</span> <br />
				3 <span ng-click="guess = 3; m.update(qa[query].name + ', ' + result)">{{qa[query].a3}}</span> <br />
				4 <span ng-click="guess = 4; m.update(qa[query].name + ', ' + result)">{{qa[query].a4}}</span> <br />
				<br />
				Guess: {{guess}} vs Answer: {{qa[query].answer}}

				<br />
				
				<button ng-click="query = query + 1; guess = 0"  ng-init="query=0">Next</button>
				<br />what: {{qa[query].name + ', ' + result}}
		</div>
		</div>	
	</div>
	</body>
</html>