<div>
	<h2>Welcome to Stacks</h2>
   <p>Select a deck to practice your regular expression skills!</p>
   <div ng-controller="resultsController">
      <ul>
	    <li ng-repeat="deck in decks">
	      <p ng-model="userChoice" ng-click="setUserChoice(deck.id)"><a href="/#{{deck.id}}"><b>{{deck.name}}</b></a></p> 
         <b>Current Results: </b> {{deckCount(deck.id, results)}} Questions Attempted out of <b><question-count></question-count></b> total questions in this deck.</br>
         <b>Score:</b> {{rightCount(deck.id, results)}} out of {{deckCount(deck.id, results)}}
	    </li>
	  </ul>
   </div>
</div>
<br /> <br />
<button ng-click="deleteLocal()">Delete Progress and Start Again</button>