<div id="homepage">
	<h1>Welcome to Stacks</h1>
   <p>Select a deck to practice your regular expression skills!</p>
   <div ng-controller="resultsController">
      <ul id="deck-list">
	    <li ng-repeat="deck in decks">
	      <h2 ng-model="userChoice" ng-click="setUserChoice(deck.id)"><a href="/#{{deck.id}}">{{deck.name}}</a></h2>
         <div class="results">
            <b>Your Score:</b> {{rightCount(deck.id, results)}} out of {{deckCount(deck.id, results)}}<br/>
            {{deckCount(deck.id, results)}} Questions Attempted out of <b><question-count></question-count></b> total questions in this deck.</br>
         </div>
	    </li>
	  </ul>
   </div>
   <br /> <br />
   <button ng-click="deleteLocal()" class="warn">Delete Progress and Start Again</button>
   <div class="clear"></div>
</div>

